.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px;
  max-width: 1200px; 
  margin: 0 auto; /* Center the grid */
  margin-top: 10%;
}


.logo-container {
  width: 400px; 
  height: 150px; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo-image {
  width: fit-content;
  height: 100%;
  
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.logo-container:hover .logo-image {
  transform: scale(1.1);
}
/* App.css */
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.menu{
  margin-left: 10%;
  padding: 10px 30px 10px 10px;
  text-transform: uppercase;
}

.menu ul{
  
  list-style-type: none;
  color: white;
  height: 25px;
  line-height: 45px;
  
}

.menu ul li{
  margin-right: 30px;
  padding: 0;
  float: left;
  position: relative;
  color: white;
}

.menu ul li a{
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  display: block;
  
  font-size: 22px;
}


.menu ul li:hover ul{ display:block;}

.menu ul li ul{
  position: absolute;
  left: 0;
  top: 20px;
  display: none;
  padding: 0;
  
}

.menu ul li ul li{
  padding: 10px 0;
  margin-top: 10px;
  height: 25px;
  line-height: 25px;
  width: 80%;
  text-align: center;
  
}

.menu a {
font-size: 10px;
}

.select option {
  padding: 8px;
  font-size: 10px; /* Adjust the font size */
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.menu ul ul a {
  font-size: 13px;

}

.menu ul ul li {
  padding: 10px 0;
  margin-top: 10px;
  height: 25px;
  line-height: 25px;
  width: 80%;
  white-space: nowrap; 
  text-align: center; 
}

.company-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.company-details {
  display: flex;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}

.logo-containerss {
  flex: 0 0 auto; /* Don't allow the logo container to grow or shrink */
  margin-top: 20%;
  scale: 130%;
  
  margin-right: 10%;
  margin-left: -15%;
}

.logo-image {
  width:fit-content; /* Adjust the width as needed */
  height: fit-content;
}

.details {
  flex: 1; /* Allow the details container to take remaining space */
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 5%;
}

.intro,
.bio,
p {
  margin: 0;
  margin-bottom: 10px;
}

.intro {
  font-size: 18px;
  font-weight: bold;
}

.bio {
  font-size: 16px;
}

/* Mimicking the color scheme from the provided website */
.company-details-container {
  color: white;
}

.details {
  color: white;
}
